* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: #87509c;
    height: 95vh;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: white;
}

.text {  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px;
}

.btn {
    background-color: #eb7d4b;
    text-transform: uppercase;
    border: none ;
    font-size: 15px;
    padding: 25px 100px;
    margin: 40px;
    cursor: pointer; 
    color: white;
}

.header-inner {
    background-color: #87509c;
    top: 0;
    padding: 10px;
}

.header-inner ul {
    margin: 0;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 50px;
    list-style: none;
    text-align: right;
    text-transform: uppercase;
    margin-top: 20px;
}

.header-inner ul li {
    display: inline-block;
    margin: 10px;
   
}

.header-inner ul li a {
    text-decoration: none;
    cursor: pointer; 
    color: white;
}

.header-inner ul li a:hover {
    color: white;
    background-color: #643a79;
    border-radius: 10%;
    
}

nav {
    background-color: #e7f1f8;
    height: 110vh;
}

.about-team, .section1-text {
    color: #696969;
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 40px 0 0 0;
}

hr {
    color: #c8d9e5;
    width: 80px;
    border: 2px solid;
    border-radius: 5px;
}


.dot {
    background-color: #696969;
    border-radius: 50%;
    display: inline-block;
    height: 150px;
    width: 150px;
    
}

#people, .section1-circle { 
    display: flex;
    text-align: center;
    justify-content: center;
}

h3, h4 {
    margin: 0 0 0 0;
}

.kate, .olivia, .ashley, .anne {
    margin-top: 20px;
    margin-right: 20px;
}

h4 {
    color: #55c2e9;
}

.anne h3:first-of-type {
    text-transform: uppercase;
}

#skills {
    background-color: white;
    height: 95vh;
}

.section1-circle span {
    display: table-cell;
    height: 135px;
    width: 135px;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%;
}

.section1-circle h3 {
    text-transform: uppercase;
    color: #696969;
    padding-top: 20px;
}

.circle1 {
    border: 10px solid #34b7eb;
    margin-right: 20px;
}

.circle2 {
    border: 10px solid #dc4481;
}

.circle3 {
    border: 10px solid #17c5aa;
}

.circle4 {
    border: 10px solid #ec7d4f;
}

.section1-text {
    padding-bottom: 50px;
}

.first-circle, .second-circle, .third-circle, .next-circle {
    padding-right: 50px;
    padding-left: 50px;
}

#about {
    background-color: #d74680;
    height: 120vh;
}

.section2-text {
    padding-bottom: 50px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.section2-text hr {
    color: #b73c6d;
}

.section2-opinion {
    display: flex;
    flex-wrap: wrap;
}

.crc {
    background-color: #787878;
    border-radius: 50%;
    display: block;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-top: 30px;
}

.section2-opinion h3 {
    text-transform: uppercase;
    color: white;
}

.section2-opinion h4 {
    color: #ffdd99;
}

.first-opinion, .third-opinion{
    padding-left: 170px;
    display: flex;
}

.first-text, .second-text, .third-text, .last-text {
    text-align: left;
    padding: 20px;
    padding-right: 40px; /*sprawdz to potem*/
    float: right;
}

.second-opinion, .last-opinion {
    display: flex;
}

#contact {
    background-color: #3c5499;
    height: 120vh;
}

#contact form {
    width: 50%;
    margin: 10px auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-text {
    padding-bottom: 50px;
    color: white;
    text-align: center;
    padding-top: 50px; 
}

.contact-text hr {
    color: #273a71;
}

#contact form textarea {
    flex-basis: 100%;
    background-color: #273a71;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
}

#contact form input {
    flex-basis: 49%;
    margin-bottom: 10px;
    background-color: #273a71;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
}

#contact .send {
    background-color: #55c2e9;
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
    font-size: 15px;
    padding: 25px 100px;
    cursor: pointer; 
    margin-left: auto;
    margin-right: auto;    
}

footer {
    background-color: #213161;
    height: 15vh;
    border-top: 1px solid #337891;

}

.links {
    padding-top: 30px;
}

.links ul {
    font-size: 10px;
    text-align: center;
}

.links ul li {
    display: inline-block;
}
 
.links ul li a {
    text-decoration: none;
    cursor: pointer; 
    color: white;
    padding: 20px;
    padding-top: 20px;
    font-size: 15px;
}